* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.cabecera {
    height: 50px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(45, 45, 160);
    color: white;
    text-align: left;
}

.cabecera p {
    padding: 1px;
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.cabecera .subTitulo {
    padding-top: 2px;
    font-size: 15px;
    margin: 15px;
    font-weight: normal;
}

.post {
    width: 80%;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}

.post h1 {
    font-size: 20px;
}

.footer {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    background-color: gray;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
}

.footer p {
    font-weight: bold;
    margin: 15px;
}